backup_root: "/path/to/backup/location"
service_task: "{{ playbook_dir }}/tasks/manage-service.yml"
backup_task: "{{ playbook_dir }}/tasks/backup-volume.yml"
restore_task: "{{ playbook_dir }}/tasks/restore-volume.yml"
gpg_pass: "{{ playbook_dir }}/.gpg-pass"
backup_image: "buswedg/alpine-gnupg:latest"
host_platform: "linux/amd64"
services:
  service:
    compose: "/path/to/docker-compose.yml"
    stop_containers: true
    backups_kept: 7
    volumes:
      - config
      - data
